/*
1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
}
/*
    2. Remove default margin
  */
  * {
    margin: 0;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
/*
    5. Improve media defaults
  */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
/*
    6. Remove built-in form typography styles
  */
input, button, textarea, select {
    font: inherit;
}
/*
    7. Avoid text overflows
  */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
/*
    8. Create a root stacking context
  */
#root, #__next {
    isolation: isolate;
}

:root {
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);

    --Transparent-white: hsla(0, 0%, 100%, 0.75);
    --Very-light-gray: hsl(0, 0%, 95%);

    --fs-normal: 15px;

    --ff-base: 'Lexend Deca', sans-serif;
    --fw-light: 400;

    --ff-accent: 'Big Shoulders Display', sans-serif;
    --fw-bold: 700;;
}

body {
    font-family: var(--ff-base);
    font-weight: var(--fw-light);
    background-color: var(--Transparent-white);
    display: grid;
    place-content: center;
    height: 100vh;
    background-color: var(--Transparent-white);
}

.card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--Very-light-gray);
    border-radius: .5rem;
    overflow: hidden;
    max-width: 800px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}

section {
    display: flex;
    flex-direction: column;
    background-color: aqua;
    gap: 1rem;
    padding: 2.5rem;
}

img {
    width: 45px;
}

.car-title {
    font-family: var(--ff-accent);
    font-weight: var(--fw-bold);
    font-size: xx-large;
    color: white;
    margin-top: .5rem;
}

.info {
    color: var(--Transparent-white);
    font-size: 14px;
}

.sedans {
    background-color: var(--Bright-orange);
}

.suvs {
    background-color: var(--Dark-cyan);
}

.luxury {
    background-color: var(--Very-dark-cyan);
}

button {
    margin-top: 2.5rem;
    border-radius: 5rem;
    border: none;
    padding: .5rem 0rem;
    max-width: 125px;
}

.cta-sedans {
    color: var(--Bright-orange);
}

.cta-suvs {
    color: var(--Dark-cyan);
}

.cta-lux {
    color: var(--Very-dark-cyan);
}

@media (max-width: 800px) {
    body {
        min-height: 125vh;
    }
    
    .card {
        grid-template-columns: none; /* Reset columns */
        grid-template-rows: repeat(3, 1fr); /* Vertical layout for small screens */
        margin: 20px;
        }
    }